<!DOCTYPE html>
<html>
<head>
  <title>Todo List 3.1</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "http://twitter.github.com/bootstrap/assets/css/bootstrap-1.2.0.min.css" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="content">
    <% if notice %>
      <div class="alert-message success"><%= notice %></div>
    <% end %>
    <%= yield %>
  </div>

</body>
</html>
